@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /* Turn Off Number Input Spinners */
  /* webkit browsers */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

@layer components{
  .orange-btn{
    @apply bg-Orange text-white rounded-lg w-full py-3 px-4 flex justify-center active:bg-Orange/50
  }
  .arrow-btn{
    @apply absolute top-1/2 -translate-y-1/2 bg-white py-[9px] px-3 rounded-full
  }
}